# Python
*.pyc
*.so
__pycache__/
.scrapy

# Node
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*


# Other
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env